@inherits ComponentCore<NewPageSection>

@if (Visible)
{
    <div class="@BodyClass">
        @if (IsPageHeader)
        {
            <MudPaper Class="@($"pa-{margin}")" Style="@($"background-color: transparent; {(HasActions ? "border-radius: 4px 4px 0px 0px;" : "")}")" Outlined="true" Elevation="0">
                <MudToolBar WrapContent="true" Gutters="false" Style="min-height: auto;">
                    @if (!string.IsNullOrEmpty(Icon))
                    {
                        <MudIcon Icon="@Icon" Class="me-2" Color="Color" Style="@($"font-size: {headerImageSize} !important; width: auto;")"></MudIcon>
                    }
                    else if (!string.IsNullOrEmpty(Image))
                    {
                        <MudImage Src="@Image" Class="me-2" Style="@GetImageStyle(true)" Alt="@Image"></MudImage>
                    }
                    <div>
                        <MudText Typo="Typo.h1" Color="Color.Primary" Style="@($"font-size: {titleFontSize}; line-height: 1.2;")">
                            @Title
                        </MudText>
                        @if (Subtitle.NotEmpty())
                        {
                            <MudText Typo="Typo.subtitle1" Color="Color.Secondary" Style="@($"font-size: {subtitleFontSize}; line-height: 1.2;")">
                                @Subtitle
                            </MudText>
                        }
                    </div>
                    @if (Link.NotEmpty())
                    {
                        <MudSpacer />
                        <MudTooltip Text="Official Website">
                            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Link" Href="@Link" Target="_blank" Size="Size.Medium" />
                        </MudTooltip>
                    }
                </MudToolBar>
                @if (Description.NotEmpty())
                {
                    <div style="text-align: justify;" class="mt-@margin">
                        <MudText Typo="@(AppStateStatic.Size == Size.Small ? Typo.caption : Typo.body1)" Align="Align.Justify"
                                 Style="@($"line-height: {(IsDesktop ? "1.2" : "1.0")}; letter-spacing: {(IsDesktop ? "inherit" : "normal")};")">
                            @Description
                        </MudText>
                    </div>
                }
            </MudPaper>
            @if (ShowActions && HasActions)
            {
                <MudPaper Class="@($"pa-{margin}")" Style="@($"background-color: transparent; {(HasActions ? "border-radius: 0px 0px 4px 4px;" : "")}")" Outlined="true" Elevation="0">
                    <MudToolBar WrapContent="true" Dense="true" Gutters="false" Style="min-height: auto;">
                        @ActionsFragment
                    </MudToolBar>
                </MudPaper>
            }
        }
        else
        {
            @if (ShowHeader)
            {
                <div class="mb-@margin">
                    <MudToolBar WrapContent="true" Dense="true" Gutters="false" Style="min-height: auto;">
                        @if (!string.IsNullOrEmpty(Icon))
                        {
                            <MudIcon Icon="@Icon" Class="me-2" Color="Color" Style="@($"font-size: {sectionImageSize} !important; width: auto;")"></MudIcon>
                        }
                        else if (!string.IsNullOrEmpty(Image))
                        {
                            <MudImage Src="@Image" Class="me-2" Style="@GetImageStyle(false)" Alt="@Image"></MudImage>
                        }
                        <div>
                            <MudText Typo="Typo.h2" Color="Color" Style="@($"font-size: {titleFontSize}; line-height: 1.2;")">
                                @Title
                            </MudText>
                            @if (Subtitle.NotEmpty())
                            {
                                <MudText Typo="Typo.subtitle1" Color="Color.Secondary" Style="@($"font-size: {subtitleFontSize}; line-height: 1.2;")">
                                    @Subtitle
                                </MudText>
                            }
                        </div>
                        @if (Link.NotEmpty())
                        {
                            <MudSpacer />
                            <MudTooltip Text="Official Website">
                                <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Link" Href="@Link" Target="_blank" Size="Size.Medium" />
                            </MudTooltip>
                        }
                    </MudToolBar>
                    @if (Description.NotEmpty())
                    {
                        <div style="text-align: justify;" class="mt-@margin">
                            <MudText Typo="@(AppStateStatic.Size == Size.Small ? Typo.caption : Typo.body1)" Align="Align.Justify"
                                     Style="@($"line-height: {(IsDesktop ? "1.2" : "1.0")}; letter-spacing: {(IsDesktop ? "inherit" : "normal")};")">
                                @Description
                            </MudText>
                        </div>
                    }
                </div>
            }
            @if (ShowActions && HasActions)
            {
                <MudPaper Class="@($"pa-{margin}")" Style="@($"background-color: transparent; {(HasActions ? "border-radius: 4px 4px 0px 0px;" : "")}")" Outlined="true" Elevation="0">
                    <MudToolBar WrapContent="true" Dense="true" Gutters="false" Style="min-height: auto;">
                        @ActionsFragment
                    </MudToolBar>
                </MudPaper>
            }
            @if (HasBody)
            {
                <MudPaper Class="@($"pa-{margin}")" Style="@($"background-color: transparent; {(HasActions ? "border-radius: 0px 0px 4px 4px;" : "")}")" Outlined="true" Elevation="0">
                    @BodyFragment
                </MudPaper>
            }
        }

    </div>
}

@code {
    //Header
    [Parameter] public bool IsPageHeader { get; set; } = false;
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Subtitle { get; set; }
    [Parameter] public string? Description { get; set; }
    [Parameter] public string? Link { get; set; }
    [Parameter] public bool ShowHeader { get; set; } = true;
    [Parameter] public bool ShowActions { get; set; } = true;

    //Layout
    [Parameter] public Color Color { get; set; } = MudBlazor.Color.Primary;
    [Parameter] public string? Icon { get; set; }
    [Parameter] public string? Image { get; set; }
    [Parameter] public string? ImageStyle { get; set; }
    [Parameter] public bool Visible { get; set; } = true;
    [Parameter] public string? BodyClass { get; set; }

    //Fragments
    [Parameter] public RenderFragment? ActionsFragment { get; set; }
    [Parameter] public RenderFragment? BodyFragment { get; set; }

    private bool IsMobile => Breakpoint <= Breakpoint.Xs;
    private bool IsDesktop => Breakpoint > Breakpoint.Xs;

    private string margin => IsMobile ? "2" : "3";
    private string headerImageSize => IsMobile ? "40px" : "48px";
    private string sectionImageSize => IsMobile ? "20px" : "24px";
    private string titleFontSize => IsMobile ? "20px" : "24px";
    private string subtitleFontSize => IsMobile ? "13.5px" : "16px";

    private bool HasActions => ActionsFragment != null;
    private bool HasBody => BodyFragment != null;

    protected override void OnInitialized()
    {
        BodyClass ??= "mb-8";
    }

    private string GetImageStyle(bool header)
    {
        return ImageStyle ?? $"max-height: {(header ? headerImageSize : sectionImageSize)}; max-width: {(header ? headerImageSize : sectionImageSize)}; width: 100%; vertical-align: top;";
    }
}
