@using Microsoft.JSInterop

@implements IDisposable

@inject NavigationManager Navigation
@inject IDialogService DialogService
@inject IJSRuntime JsRuntime

@if (_processing)
{
    <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Style="position: fixed; z-index: 1400;" />
}
<MudAppBar Fixed="true" Elevation="1" Color="Color.Dark">

    <MudButton StartIcon="@Icons.Material.Filled.House" Color="@GetColor($"/{Culture}")" Href=@($"/{Culture}") Variant="@GetVariant($"/{Culture}")" Class="@menuClass">
        Home
    </MudButton>

    <MudSpacer />

    <MudIconButton Icon="@Icons.Material.Filled.Apps" Color="Color.Inherit" Class="me-1" OnClick="@(() => { _openApps = true; })" />

    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(() => { _openMenu = true; })" />

</MudAppBar>

<MudDrawer @bind-Open="@_openMenu" Anchor="Anchor.Right" Elevation="1" Variant="@DrawerVariant.Temporary" OverlayAutoClose="true" Width="275px">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6" Color="Color.Primary">@AppInfo.Title</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavLink Icon="@Icons.Material.Filled.Settings" OnClick="@OpenConfigurations">
            Settings
        </MudNavLink>
        <MudNavLink Icon="@Icons.Material.Filled.HelpCenter" Href=@($"/{Culture}/help")>
            Help Center
        </MudNavLink>
    </MudNavMenu>
    <MudSpacer></MudSpacer>
    <MudText Typo="Typo.caption" Align="Align.Center" Class="mb-2">
        @($"Version: {AppStateStatic.Version}")
    </MudText>
</MudDrawer>

<MudDrawer @bind-Open="@_openApps" Anchor="Anchor.Right" Elevation="1" Variant="@DrawerVariant.Temporary" OverlayAutoClose="true" Width="275px">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6" Color="Color.Primary"> More from DRMA Tech</MudText>
    </MudDrawerHeader>
    @foreach (var product in AppInfo.Products)
    {
        <MudDivider Style="flex-grow: unset;"></MudDivider>
        <div style="padding: 8px 16px 0px 16px; display: flex; align-items: center;">
            <MudImage Src=@product.Logo Style="width: 40px;" Class="me-2"></MudImage>
            <div>
                <MudText Style="font-size: 14px;" Color="Color.Secondary">
                    @product.Title
                </MudText>
                <MudText Style="font-size: 14px;" Color="Color.Inherit">
                    @product.SubTitle
                </MudText>
            </div>
        </div>
        <MudLink style="padding: 0px 16px 8px 16px;" Href="@product.Url" Target="_blank" Color="Color.Tertiary">
            @(new Uri(product.Url).Host)
        </MudLink>
    }
</MudDrawer>

@code {
    private string Culture => Navigation.GetCulture();

    private bool _openMenu = false;
    private bool _openApps = false;

    private int _processingCount = 0;
    private bool _processing => _processingCount > 0;

    private string menuClass => AppStateStatic.Breakpoint == Breakpoint.Xs ? "icon-text-button" : "px-3";

    protected readonly CancellationTokenSource cts = new();

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += delegate { StateHasChanged(); };

        AppStateStatic.BreakpointChanged.Subscribe(breakpoint => StateHasChanged(), cts.Token);

        //avoid - Object reference not set to an instance of an object.
        //commit: breakpoint refactorer / ActionDispatcher and TaskDispatcher (2026-05-25)
        if (!Navigation.IsPrerendering())
        {
            AppStateStatic.ProcessingStarted.Subscribe(async () =>
            {
                Interlocked.Increment(ref _processingCount);
                await InvokeAsync(StateHasChanged);
            }, cts.Token);

            AppStateStatic.ProcessingFinished.Subscribe(async () =>
            {
                Interlocked.Decrement(ref _processingCount);
                await Task.Delay(200);
                await InvokeAsync(StateHasChanged);
            }, cts.Token);
        }
    }

    private async Task OpenConfigurations()
    {
        _openMenu = false;
        await DialogService.SettingsPopup();
    }

    private Color GetColor(string endpoint)
    {
        return Focused(endpoint) ? Color.Primary : Color.Inherit;
    }

    private Variant GetVariant(string endpoint)
    {
        return Focused(endpoint) ? Variant.Filled : Variant.Text;
    }

    private bool Focused(string endpoint)
    {
        var uri = new Uri(Navigation.Uri);

        return string.Equals(uri.AbsolutePath, endpoint, StringComparison.OrdinalIgnoreCase);
    }

    void IDisposable.Dispose()
    {
        cts.Cancel();
        cts.Dispose();
        GC.SuppressFinalize(this);
    }
}
